<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gift List</title>
  <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>
<body>
  <main>
    <div>
      <h1>Gift list for Santa</h1>
    </div> 
    <div>
      <% gifts.forEach(person => { %>
        <section>
          <h2> <%= person.firstname %> <%= person.lastname %>, age: <%= person.age %> </h2>
          <p class="status"> <%= person.status %> </p>
          <h2>Gifts</h2>
          <table>
            <tbody>
              <% person.gifts.forEach(gift => { %>
                <tr>
                  <td><strong> <%= gift.name %> </strong></td>
                  <td><img src="/images/<%=gift.image%>"></td>
                </tr>
              <% }) %>
            </tbody>
          </table>         
          <p> Delivery: <%= person.delivery %> </p> 
        </section>     
      <% }); %>
    </div>  
  </main>
</body>
</html>
